 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello, I am Marissa Hargrave. I got my Bachelor's in Software Engineering at Mississippi State University. While I'm passionate about software,
                        I always had a love for art and design. I found game development to be a lovely marriage between the two seemingly opposite skillsets. 
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>With every new project, I learn more and more. Let's build beautiful realities together.</p>
                </div>
                </div>
            </div>
        </div>
    </section>
