@font-face {
    font-family: 'Charm';
    src: url('../font/Charm-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Charm';
    src: url('../font/Charm-Bold.ttf');
    font-weight: bold;
    font-style: normal;
  }